@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 222 47% 6%;
  --foreground: 210 40% 98%;
  --card: 217 47% 11%;
  --card-foreground: 210 40% 98%;
  --popover: 222 47% 6%;
  --popover-foreground: 210 40% 98%;
  --primary: 221 83% 53%;
  --primary-foreground: 210 40% 98%;
  --secondary: 223 31% 21%;
  --secondary-foreground: 210 40% 96%;
  --muted: 223 31% 21%;
  --muted-foreground: 220 13% 80%;
  --accent: 221 83% 53%;
  --accent-foreground: 222 47% 6%;
  --destructive: 0 62% 45%;
  --destructive-foreground: 210 40% 98%;
  --border: 223 47% 17%;
  --input: 223 47% 17%;
  --ring: 221 83% 60%;
  --radius: 1rem;
}

* {
  @apply border-border;
}

body {
  @apply bg-background text-foreground antialiased;
}
